/*

0 - 600px Phone
600 - 900px Table Portrait
900 - 1200px Tablet Landscape
[1200 - 1800] - Where normal styles apply

1800px + : Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  line-height: 1.7;
  color: #212121;
  font-size: 1.4rem; }

.heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media only screen and (max-width: 75em) {
    .u-margin-top-medium {
      margin-bottom: 3rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.transparent {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem; }

.container {
  display: grid;
  grid-template-columns: 10rem auto 10rem;
  grid-template-rows: 100vh;
  height: 100vh; }

.layout {
  height: 100%;
  grid-column: 2 / span 1; }

.logo__container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0; }

.logo__picture {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 50%;
  object-position: 50% 30%; }

.header {
  border-right: 1px solid #777;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  position: fixed;
  height: 100%; }
  .header__description {
    text-align: center;
    line-height: 1.2;
    width: 80%;
    font-size: 1.4rem; }
  .header .nav {
    padding-top: 1.5rem; }
    .header .nav__list {
      padding: 0; }
    .header .nav__listitem {
      list-style: none; }
    .header .nav__link {
      text-decoration: none; }
  .header__footer {
    font-size: 1.2rem;
    padding: 0.5rem 0;
    margin-top: auto;
    border-top: 1px solid #777;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 100; }

.main {
  position: relative;
  margin-left: 20rem;
  min-height: 100%; }

.home {
  height: 100%;
  min-width: 100%; }

.introduction {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 4rem;
  font-size: 6rem;
  letter-spacing: 0.05rem;
  line-height: 1.1; }
