/*

0 - 600px Phone
600 - 900px Table Portrait
900 - 1200px Tablet Landscape
[1200 - 1800] - Where normal styles apply

1800px + : Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/
:root {
  --color-primary: #87431d;
  --color-primary-light: #c87941;
  --color-primary-dark: #290001;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 3000vh; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f7f7f7; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media only screen and (max-width: 75em) {
    .u-margin-top-medium {
      margin-bottom: 3rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.transparent {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem; }

.header {
  min-height: 100vh;
  background-color: black;
  display: flex; }
  .header__text {
    flex: 0 0 50%;
    align-self: center; }
  .header__img {
    background: linear-gradient(to right, black, transparent), url(../img/background3.jpg);
    background-size: cover;
    background-position: 60% 0%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-clip: padding-box;
    flex: 1;
    clip-path: circle(68.7% at 12% 49%); }
