.container {
  display: grid;
  grid-template-columns: 10rem auto 10rem;
  grid-template-rows: 100vh;
  height: 100vh;
  position: relative;

  @include respond(tab-land) {
    grid-template-columns: 0rem auto 5rem;
  }
  @include respond(tab-port) {
    grid-template-columns: auto;
  }
}

.layout {
  height: 100%;
  grid-column: 2 / span 1;
  @include respond(tab-port) {
    grid-column: 1 / span 1;
  }
}

.toggler {
  &__checkbox {
    display: none;
  }
  &__button {
    display: none;
  }
  @include respond(tab-port) {
    &__button {
      animation-fill-mode: initial;
      height: 7rem;
      width: 7rem;
      text-align: center;
      cursor: pointer;
      position: fixed;
      z-index: $highest-z-index;
      top: 0.8rem;
      right: 0.8rem;
      display: initial;
    }
    &__icon {
      position: relative;
      margin-top: 3.5rem;
      transition: all 0.2s;

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: $color-black;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }

      &::before {
        top: -0.8rem;
      }

      &::after {
        top: 0.8rem;
      }
    }
    &__button:hover &__icon::before {
      transform: translateY(-0.2rem);
    }

    &__button:hover &__icon::after {
      transform: translateY(0.2rem);
    }
  }
}

.header {
  height: 100%;
  position: absolute;
  &__container {
    padding-top: 8rem;
    transition: all 0.2s;
    border-right: 1px solid $color-grey-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 100%;
    background-color: $color-white;
  }

  @include respond(tab-port) {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .toggler__checkbox:checked ~ .mobile-nav .toggler__button .toggler__icon {
      background-color: transparent;
      &::before {
        transform: rotate(135deg);
        top: 0;
      }
      &::after {
        transform: rotate(-135deg);
        top: 0;
      }
    }
    .mobile-nav {
      border-bottom: 1px solid $color-grey-light-2;
      height: 8rem;
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: $highest-z-index;
    }

    &__container {
      transition: all 0.25s ease-in-out;
      padding-top: 10rem;
      width: 0;
      height: 0;
      justify-content: center;
      align-items: center;
      border: none;
      transform: scale(0);
      opacity: 0;
    }

    .toggler__checkbox:checked ~ &__container {
      transform: scale(1);
      width: 100%;
      height: 100%;
      opacity: 1;
      position: fixed;
      z-index: $high-z-index;
    }
  }

  &__description {
    text-align: center;
    line-height: 1.2;
    width: 80%;
    font-size: $default-font-size;
    padding: 2rem 0;

    @include respond(tab-port) {
      font-size: $medium-font-size;
    }
  }

  .nav {
    padding-top: 1.5rem;
    @include respond(tab-port) {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: stretch;
    }
    @include respond(tab-port-land) {
      flex-direction: row;
    }

    &__list {
      padding: 0;
      text-align: center;

      @include respond(tab-port-land) {
        display: flex;
        justify-content: center;
      }
    }
    &__item {
      list-style: none;
      @include respond(tab-port) {
        padding: 2rem;
      }
    }

    &__link {
      text-decoration: none;
      font-family: $font-primary;
      &:link,
      &:visited {
        color: $color-black;
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.04rem;
        font-size: $medium-font-size;

        @include respond(tab-port) {
          font-size: $big-font-size;
        }
      }
      &:hover,
      &:active {
        color: $color-tertiary-light;
      }
    }
    &__linkActive:link,
    &__linkActive:visited {
      color: $color-tertiary-light;
    }
  }

  &__footer {
    font-size: $small-font-size;
    padding: 2rem 0;
    margin-top: auto;
    border-top: 1px solid $color-grey-dark;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 100;
  }
}

.logo {
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -1000px;
  }
  position: fixed;
  padding: 2rem;
  height: 4rem;
  width: 20rem;
  top: 2rem;
  z-index: $highest-z-index;
  background-image: url(../../assets/img/logo.svg);
  background-size: cover;
  @include respond(tab-port) {
    padding: 2rem;
    height: 5.5rem;
    width: 10rem;
    background-image: url(../../assets/img/mobile-logo.svg);
    background-size: cover;
    top: 1.2rem;
    left: 1.2rem;
  }
}

.profile {
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;

    @include respond(tab-port) {
      padding: 1rem 0;
    }
  }

  &__picture {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    object-position: 50% 30%;
  }
}

.main {
  position: relative;
  margin-left: 20rem; // The width of the sidebar
  // min-height: 100%;
  padding: 2rem 1.5rem;
  @include respond(tab-port) {
    margin-left: 0;
    min-height: calc(100% - 5rem);
    padding: 10rem 2rem;
  }
}
