@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/animations";
@import "../../styles/abstracts/variables";

.Home {
  height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  &__Introduction {
    // @include center-vertically;
    font-family: $font-primary;
    p {
      animation-fill-mode: backwards;
    }
    p + p {
      margin-top: 3rem;
    }

    .Profile {
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-delay: 0.5s;
    }
    .FullStack {
      animation-name: moveInBottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-delay: 1s;
    }
    .Writer,
    .Trader {
      animation-name: moveInTop;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-delay: 1.5s;
      animation-fill-mode: backwards;
    }

    padding: 4rem;
    font-size: $large-font-size;
    letter-spacing: 0.05rem;
    line-height: 1;

    @include respond(big-desktop) {
      font-size: $big-font-size;
    }
  }
}
