.home {
  height: 100%;
  min-width: 100%;
}

.introduction {
  @include center-vertically;
  p + p {
    margin-top: 3rem;
  }
  padding: 4rem;
  font-size: $large-font-size;
  letter-spacing: 0.05rem;
  line-height: 1;
}