.home {
  height: 100%;
  min-width: 100%;
}

.introduction {
  @include center-vertically;
  font-family: $font-primary;
  p + p {
    margin-top: 3rem;
  }
  p:nth-child(1) {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
  }
  p:nth-child(2) {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }
  p:nth-child(n + 3) {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
  }

  padding: 4rem;
  font-size: $large-font-size;
  letter-spacing: 0.05rem;
  line-height: 1;

  @include respond(big-desktop) {
    font-size: $big-font-size;
  }
}
