body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.7;
  color: $color-primary-dark;
  font-size: $medium-font-size;
}

%heading {
  font-family: $font-display;
  font-weight: 400;
  // text-transform: uppercase;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %heading;
  font-weight: 700;
  font-style: italic;
}
