@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0px;
    min-height: 100vh;
    text-size-adjust: 100%;
    overflow-x: hidden;
  }

  body {
    @apply bg-bottom-background-color dark:bg-d-bottom-background-color relative text-primary-text-color dark:text-d-primary-text-color z-[-2] overflow-x-hidden px-4 md:px-[5%] font-display;
  }
}

@layer utilities {
  .full-page-width {
    @apply -mx-4 md:mx-[-5%] w-[100vw];
  }
}

@layer components {
  .header-background {
    @apply relative text-[calc(30px+4.0vw)] mt-[0.6em] xs:text-[calc(35px+4vw)] sm:text-[calc(50px+3vw)] md:text-[calc(50px+3.2vw)] md:mt-[0.75em] bmd:mt-[1.25em] bmd:text-[calc(55px+3.5vw)] mb-[1.5rem] sm:mb-[2.5rem] md:mb-[6.5rem];
  }
  .header-background::before {
    @apply h-[10000px] bg-top-background-color dark:bg-d-top-background-color block absolute z-[-1] bottom-[1.5rem] right-[-10000px] left-[-10000px] md:bottom-[2.5rem] bmd:bottom-[4rem];
    content: "";
  }

  .floated-profile-picture {
    @apply float-right transform translate-x-[1.5rem]  h-[25rem] md:h-[20rem] hidden sm:block;
    clip-path: inset(0 0 2% 0);
    shape-outside: inset(0 0 2% 0);
  }
  .button {
    @apply flex items-center flex-nowrap text-[1.125rem] font-medium whitespace-nowrap justify-center py-[calc(1.25rem-1.5px)] px-[1.5rem] bg-very-subdued-elements-color dark:bg-d-very-subdued-elements-color rounded-[12px] shadow sm:shadow-sm md:shadow-md lg:shadow-lg;
  }

  .button-icon {
    @apply flex items-center mr-[0.5rem];
  }
  .button-text {
    @apply py-[1.5px];
  }

  p.article-paragraph + p.article-paragraph {
    margin-top: 2.5rem;
  }

  .article-bullet li + li {
    /* margin-top: 1.8rem; */
  }
}
