@import "./abstracts/mixins";
@import "./abstracts/animations";
@import "./abstracts/variables";

.Home {
  height: 90vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__Introduction {
    font-family: $font-display;
    p {
      animation-fill-mode: backwards;
    }
    p + p {
      margin-top: 3rem;
    }

    .Profile {
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-delay: 0.5s;
    }
    .FullStack {
      animation-name: moveInBottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-delay: 1s;
    }
    .Writer,
    .Trader {
      animation-name: moveInTop;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-delay: 1.5s;
      animation-fill-mode: backwards;
    }

    padding: 4rem;
    font-size: 4rem;
    letter-spacing: 0.05rem;
    line-height: 1;

    @include respond(big-desktop) {
      font-size: 6rem;
    }
  }
}
